*.iml
.gradle
local.properties
/.idea
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/app/build
app/app.iml
/common/build
/common/common.iml
/bottom-navigation-bar/build
/bottom-navigation-bar/bottom-navigation-bar.iml
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/
app/src/main/java/com/wwf/component/presenter/activity/
app/src/main/java/com/wwf/component/presenter/splash/
common/libs/
common/src/main/res/drawable/
